.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
p{
  font-size: 1.5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: #cc80ff;
}

.block-level {
  width: 250px;
  height: 270px;
  margin: 10px 20px 70px 20px;
  position:relative;
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center; /* Выравнивание содержимого по-центру */
 }


.text{
  text-align: center;
  font: italic small-caps bold 27px/2 cursive;

}

input{
  width: 80%;
  height: 40px;
  margin: 20px ;
  border-radius: 10px;

}

.basket{
  text-align: right;
  margin-right: 20px;
  margin-top: -50px;

}


.button{
  border-radius: 10px;
  color: plum;
}

.button:hover{
  border-radius: 10px;
  color: plum;
  background-color: darkorchid;
}

.info{
  display: flex;
  text-align: center;
}

.book-card{
  border-radius: 10px;
  color: plum;
  background-color: mediumorchid;
}